:root {
    /* Set the background of the entire app */
    --color-textos: #231010;
    --color-titulos: #231010;
    --color-botones: #231010;
    --color-hover: #360000c2;
    --color-toggle: #cca23a;
    --color-check: #ffffff;
    --color-diseno-outline: #411f1f42;
    --color-primario:  #47040485;
    --color-secundario:  #4704040e;
    --color-terciario:  #231010;
    --color-blanco:  #fff;


    --color-transparente:  transparent;
    --color-fondo-modal:  rgba(255, 255, 255, 0.8);

  
  }
  