<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="main">
      <h5>Información</h5>
      <button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="modalBack">
  <section class="section1">
    <main>
      <div class="flexCont">
        <img src="../../assets/img/fondo-preguntas.jpg" width="40%" alt="">
      </div>

      <p>
        <strong>T&iacute;tulo del mensaje:</strong> T&iacute;tulo del producto<br>
        <strong>Texto del mensaje:</strong> Descripción del producto<br>
        <strong>Precio:</strong> 150.00<br>
        <strong>Público objetivo:</strong> IOS,Android<br>
        <strong>Programado:</strong> Si / 12/06/2021<br>
        <strong>Enviar cada año:</strong> NO<br>
        <strong>Repetir los d&iacute;as:</strong> Lunes,Miercoles,Viernes<br>
        <strong>Hora de publicación:</strong> 12:00 pm<br>
        <strong>Usuarios:</strong> Dulce Aguirre, Edgar Ibarra, Alan Zatarain<br>
      </p>

      <br>
      <div class="flexCont">
        <button (click)="goTo('editar')">Editar Información</button>
      </div>
      <br>

    </main>
  </section>


</ion-content>