/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .section1 {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section1 main {
    width: 90%;
    height: 95%;
    padding-top: 40px;
    margin: auto;
  }

  .section1 main form {
    width: 100%;
    padding: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .section1 {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section1 main {
    width: 90%;
    height: 95%;
    padding-top: 110px;
    margin: auto;
  }

  .section1 main form {
    width: 100%;
    padding: 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .section1 {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section1 main {
    width: 90%;
    height: 95%;
    padding-top: 30px;
    margin: auto;
  }

  .section1 main form {
    width: 100%;
    padding: 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
