<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="main">
      <h5>Añadir nuevo repartidor</h5>
      <button (click)="cerrarModal()"><ion-icon name="close-outline"></ion-icon></button>
     </div>
  </ion-toolbar>
</ion-header>

<ion-content class="modalBack">
  <section class="section1">
    <main>
      <form action="" [formGroup]="usuarioForm">

        <div class="flexCont" style="margin: 10px 0px;">
          <a href="https://www.iloveimg.com/es/redimensionar-imagen" target="_blank" style="text-decoration: underline;">Recortar imagen</a>
        </div>

        <ngx-dropzone [multiple]="false" class="dropzone init" (change)="onSelect($event)">
          <ngx-dropzone-label>Cargar una imagen de perfil(max 2mb) <br> 500px X 500px </ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
        
        <br>
        
        <ion-item lines="none" color="black" class="select">
          <ion-label>Asigna una sucursal:</ion-label>
          <ion-select  formControlName="sucursal" placeholder="Seleccionar" multiple="true">
            <ion-select-option *ngFor="let sucursal of sucursales" value="{{sucursal.id}}">{{sucursal.nombre}}</ion-select-option>
          </ion-select>
        </ion-item> 

        <label for="">Nombre</label>
        <input type="text" formControlName="username" placeholder="Nombre del usuario">

        <label for="">Correo electrónico</label>
        <input type="email" formControlName="email" placeholder="Con este correo ingresará el usuario al sistema">

        <label for="">Tel&eacute;fono</label>
        <input type="text" formControlName="telefono" placeholder="Telefono">

        <label for="">Contraseña</label>
        <input type="password" (keypress)="passwordPress()" formControlName="password">

        <label for="">Confirmar contraseña</label>
        <input type="password" formControlName="confirmPassword">

        <div class="flexCont">
          <div class="item">
            <input type="text" [(ngModel)]="generatedPassword" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="item">
            <button (click)="generarPassword()">Generar contraseña</button>
          </div>
        </div>
      </form>
      <form action="" [formGroup]="repartidorForm">
        <hr>
        <div class="flexCont" style="margin: 10px 0px;">
          <P>Datos adicionales</P>
        </div>

        <ngx-dropzone [multiple]="false" class="dropzone init" (change)="onSelectConducir($event)">
          <ngx-dropzone-label>Cargar imagen licencia de conducir*</ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of conducir" [file]="f">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
        <br>

        <label for="">N&uacute;mero carro</label>
        <input type="text" formControlName="modelo">

        <label for="">N&uacute;mero de seguro del carro</label>
        <input type="text" formControlName="seguro">

        <ngx-dropzone [multiple]="false" class="dropzone init" (change)="onSelectSeguro($event)">
          <ngx-dropzone-label>Cargar imagen seguro del carro*</ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of seguro" [file]="f">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
        <br>
        <button (click)="submitUsuario()">Guardar</button>
      </form>
    </main>
  </section>
</ion-content>
