<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="main">
      <h5>Usuarios</h5>
      
      <button (click)="cerrarModal()"><ion-icon name="close-outline"></ion-icon></button>
     </div>
  </ion-toolbar>
</ion-header>

<ion-content class="modalBack">
    <section class="section1">
      <main>

        <form action="">
<!-- 
          <div class="flexCont" style="margin: 10px 0px;">
            <a href="https://www.iloveimg.com/es/recortar-imagen" target="_blank" style="text-decoration: underline;">Recortar imagen</a>
          </div> -->
           
      <!-- <ngx-dropzone class="dropzone init" (change)="onSelect($event)">
      <ngx-dropzone-label>Cargar imagen (max 1Mb) <br> 500px X 500px </ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
      </ngx-dropzone> -->
      <hr>
      <p>Identificador de la promoción</p>
      <p><small>Máximo 60 Caracteres</small></p>
      <input type="text" placeholder="Promo verano">

      <ion-item class="itemIon" lines="none">
        <label for="">Promocionar por rango de fecha</label>
       <ion-checkbox slot="end" ></ion-checkbox>
      </ion-item>
      <hr>
      <p>Selecciona el rango de fechas en el cual será valida esta promoción</p>
      <label for="">Fecha de inicio</label>
      <input type="date">

      <label for="">Fecha de expiración</label>
      <input type="date">

      <ion-item class="itemIon" lines="none">
        <label for="">Válido con otras promociones</label>
       <ion-checkbox slot="end" ></ion-checkbox>
      </ion-item>

      <ion-item class="itemIon" lines="none">
        <label for="">Repetir cada año</label>
       <ion-checkbox slot="end" ></ion-checkbox>
      </ion-item>

    <hr>

    <ion-item class="itemIon" lines="none">
      <label for="">Programar promoción diaria</label>
     <ion-checkbox slot="end" ></ion-checkbox>
    </ion-item>
    <hr>
    <p>Selecciona el los días en los que será valida esta promoción</p>

    <ion-item class="itemIon" lines="none">
      <label for="">Todos los días</label>
     <ion-checkbox slot="end" ></ion-checkbox>
    </ion-item>

    <ion-item class="itemIon" lines="none">
      <label for="">Lunes</label>
     <ion-checkbox slot="end" ></ion-checkbox>
    </ion-item>

    <ion-item class="itemIon" lines="none">
      <label for="">Martes</label>
     <ion-checkbox slot="end" ></ion-checkbox>
    </ion-item>

    <ion-item class="itemIon" lines="none">
      <label for="">Miércoles</label>
     <ion-checkbox slot="end" ></ion-checkbox>
    </ion-item>

    <ion-item class="itemIon" lines="none">
      <label for="">Jueves</label>
     <ion-checkbox slot="end" ></ion-checkbox>
    </ion-item>

    <ion-item class="itemIon" lines="none">
      <label for="">Viernes</label>
     <ion-checkbox slot="end" ></ion-checkbox>
    </ion-item>

    <ion-item class="itemIon" lines="none">
      <label for="">Sábado</label>
     <ion-checkbox slot="end" ></ion-checkbox>
    </ion-item>

    <ion-item class="itemIon" lines="none">
      <label for="">Domingo</label>
     <ion-checkbox slot="end" ></ion-checkbox>
    </ion-item>


   

  <hr>
  <p>Acción de la promoción</p>


  <ion-item lines="none" color="black" class="select">
    <ion-label>Al dar click dirigir a:</ion-label>
    <ion-select placeholder="Seleccionar" multiple="false">
      <ion-select-option value="f">Producto</ion-select-option>
      <ion-select-option value="m">Categoria</ion-select-option>
      <ion-select-option value="d">URL</ion-select-option>S
    </ion-select>
  </ion-item> 

       <hr>

       <ion-item lines="none" color="black" class="select">
        <ion-label>Selecciona el tipo de promoción:</ion-label>
        <ion-select placeholder="Seleccionar" multiple="false">
          <ion-select-option value="f">Porcentaje %</ion-select-option>
          <ion-select-option value="m">Cantidad $</ion-select-option>
          <ion-select-option value="d">Gratis</ion-select-option>
        </ion-select>
      </ion-item> 
        <input type="number" placeholder="Escribe el valor de la promoción">

        <p>Máximo de artículos con esta promoción por cesta de compra</p>
        <input type="number" placeholder="Ejemplo: 2">

       <p>Selecciona el producto al cual se redirigirá al hacer click sobre la promoción.</p>
        <div class="flexCont" style=" margin: 20px 0px; flex-wrap: wrap; width: 100%; max-height: 15vh; overflow: auto;">
          <ion-item lines="none" class="itemUserAgre">
            <ion-label>Producto</ion-label>
            <ion-badge slot="end"><ion-icon name="close"></ion-icon></ion-badge>
          </ion-item>
        </div>
        <input type="search" placeholder="Buscar por nombre">
        
        <ion-list  class="listSearchUser">
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Producto</ion-label>
            <button slot="end"><ion-icon name="add"></ion-icon></button>
          </ion-item>
  
        </ion-list>
        <hr>

        <hr>
        <ion-item lines="none" color="black" class="select">
          <ion-label>Selecciona el tipo de promoción:</ion-label>
          <ion-select placeholder="Seleccionar" multiple="false">
            <ion-select-option value="f">Porcentaje %</ion-select-option>
            <ion-select-option value="m">Cantidad $</ion-select-option>
            <ion-select-option value="d">Gratis</ion-select-option>
          </ion-select>
        </ion-item> 
          <input type="number" placeholder="Escribe el valor de la promoción">
  
          <p>Máximo de artículos con esta promoción por cesta de compra</p>
          <input type="number" placeholder="Ejemplo: 2">
        <p>Selecciona la categoría al cual se redirigirá al hacer click sobre la promoción.</p>
        <p><small>Max. 1 categoria</small></p>
 
         <div class="flexCont" style=" margin: 20px 0px; flex-wrap: wrap; width: 100%; max-height: 15vh; overflow: auto;">
           <ion-item lines="none" class="itemUserAgre">
             <ion-label>Categoría</ion-label>
             <ion-badge slot="end"><ion-icon name="close"></ion-icon></ion-badge>
           </ion-item>
 
         </div>
         <input type="search" placeholder="Buscar por nombre">
         
         <ion-list  class="listSearchUser">
   
           <ion-item lines="none">
            <ion-label>Categoría</ion-label>
             <button slot="end"><ion-icon name="add"></ion-icon></button>
           </ion-item>
   
           <ion-item lines="none">
            <ion-label>Categoría</ion-label>
             <button slot="end"><ion-icon name="add"></ion-icon></button>
           </ion-item>
   
           <ion-item lines="none">
            <ion-label>Categoría</ion-label>
             <button slot="end"><ion-icon name="add"></ion-icon></button>
           </ion-item>
   
           <ion-item lines="none">
            <ion-label>Categoría</ion-label>
             <button slot="end"><ion-icon name="add"></ion-icon></button>
           </ion-item>
   
           <ion-item lines="none">
            <ion-label>Categoría</ion-label>
             <button slot="end"><ion-icon name="add"></ion-icon></button>
           </ion-item>
   
           <ion-item lines="none">
            <ion-label>Categoría</ion-label>
             <button slot="end"><ion-icon name="add"></ion-icon></button>
           </ion-item>
   
           <ion-item lines="none">
            <ion-label>Categoría</ion-label>
             <button slot="end"><ion-icon name="add"></ion-icon></button>
           </ion-item>
   
           <ion-item lines="none">
            <ion-label>Categoría</ion-label>
             <button slot="end"><ion-icon name="add"></ion-icon></button>
           </ion-item>
   
           <ion-item lines="none">
            <ion-label>Categoría</ion-label>
             <button slot="end"><ion-icon name="add"></ion-icon></button>
           </ion-item>
   
           <ion-item lines="none">
            <ion-label>Categoría</ion-label>
             <button slot="end"><ion-icon name="add"></ion-icon></button>
           </ion-item>
   
         </ion-list>
         <hr>

         <hr>
         <p>Escribe la direccion URL a la cual se redirigirá al hacer click.</p>
         <input type="url" placeholder="Ejemplo: https://www.clikgraphics.com">
        <hr>

            <button >Registrar</button>
      
      
         </form>



    
      </main>
    </section>

    
</ion-content>
