<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="main">
      <h5>Información</h5>
      <button (click)="cerrarModal()"><ion-icon name="close-outline"></ion-icon></button>
     </div>
  </ion-toolbar>
</ion-header>

<ion-content class="modalBack">
    <section class="section1">
      <main>
       <p>Detalles</p>
       <div class="flexCont">
        <img src="../../assets/img/fondo-preguntas.jpg" width="40%" alt="">
       </div>

      <p>
        <strong>Orden:</strong> dsfgse45346dfg<br>
        <strong>Fecha de la orden:</strong> 25/06/2021<br>
        <strong>Usuario:</strong> correo@correo<br>
        <strong>Estatus:</strong> Finalizado<br>
        <strong>Total:</strong> $ 2,000.00 mxn<br>
        <strong>Método de pago:</strong> Efectivo<br>
      </p>
<br>






      </main>
    </section>

    
</ion-content>
