/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .section1{
        width: 100%;
    }
    .section1 main{
        width: 90%;
        margin: 20px 5% 0px;
    }
    .section1 main .head button{
        margin: inherit;
        margin-left: auto;
    }
    
    .section1 main .head .flexCont{
        margin: 5% 0%;
    }
    .section1 main  .head .flexCont .btnMod{
        padding: 3% 3%;
        margin: auto;
        font-size: 11pt;
        min-width: inherit;
    }
    .section1 main .contPedidos{
        width: 100%;
    }
    .section1 main .productos{
        width: 100%;
    }
    .section1 main ion-slide{
        flex-wrap: wrap;
    }
    
    }
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .section1{
            width: 100%;
        }
        .section1 main{
            width: 90%;
            margin: 0px 5%;
        }
        .section1 main .head button{
            margin: inherit;
            margin-left: auto;
        }
        .section1 main .head .flexCont{
            margin: 1% 0%;
        }
        .section1 main  .head .flexCont .btnMod{
            padding: 3% 3%;
            margin: auto;
            font-size: 11pt;
            min-width: inherit;
        }
        .section1 main .contPedidos{
            width: 100%;
        }
        .section1 main .productos{
            width: 100%;
        }
        .section1 main ion-slide{
            flex-wrap: wrap;
        }
        
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .section1{
            width: 100%;
        }
        .section1 main{
            width: 90%;
            margin: 0px 5%;
        }
        .section1 main .head button{
            margin: inherit;
            margin-left: auto;
        }
        .section1 main .head .flexCont{
            margin: 1% 0%;
        }
        .section1 main  .head .flexCont .btnMod{
            padding: 10px 20px;
            margin: auto;
            font-size: 11pt;
            min-width: 120px;
        }
        .section1 main .contPedidos{
            width: 100%;
        }
        .section1 main .productos{
            width: 100%;
        }
        .section1 main ion-slide{
            flex-wrap: wrap;
        }
        
    
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .section1{
            width: 100%;
        }
        .section1 main{
            width: 80%;
            margin: 20px 10%;
        }
        .section1 main .head{
           width: 100%;
        }
        .section1 main .head button{
            margin: inherit;
            margin-left: auto;
        }
        .section1 main .head .flexCont{
            margin: 1% 0%;
        }
        .section1 main  .head .flexCont .btnMod{
            padding: 10px 20px;
            margin: auto;
            font-size: 11pt;
            min-width: inherit;
        }
        .section1 main .contPedidos{
            width: 100%;
        }
        .section1 main .productos{
            width: 100%;
        }
        .section1 main ion-slide{
            flex-wrap: wrap;
        }
        
    
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        
    }